<header>
    <nav class="menu">
      <a href="#historia">Nuestra Historia</a>
      <a href="#fotos">Nuestras Fotos</a>
      <a href="#evento">Lugar de Evento</a>
      <a href="#confirmacion">Confirmación</a>
    </nav>
  </header>
  
  <section id="historia">
    <app-nuestra-historia></app-nuestra-historia>
  </section>
  
  <section id="fotos">
    <!-- <app-nuestras-fotos></app-nuestras-fotos> -->
  </section>
  
  <section id="evento">
    <app-lugar-evento></app-lugar-evento>
  </section>
  
  <section id="confirmacion">
    <app-confirmacion-invitacion></app-confirmacion-invitacion>
  </section>
  