.fotos-container {
    text-align: center;
    padding: 50px;
  }
  
  .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }
  
  .gallery img {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    cursor: pointer;
  }
  