<div class="confirmacion-container">
    <h2>Confirmación de Invitación</h2>
    <form (ngSubmit)="enviarConfirmacion()">
      <label>Nombre:</label>
      <!-- <input type="text" [(ngModel)]="nombre" name="nombre" required> -->
  
      <label>¿Asistirás?</label>
      <!-- <select [(ngModel)]="asistencia" name="asistencia" required>
        <option value="sí">Sí</option>
        <option value="no">No</option>
      </select> -->
  
      <button type="submit">Confirmar</button>
    </form>
  </div>
  